@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 10px 0;
  background: #ffffff;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  color: #007bff;

}
.banner {
  height: 100vh;
  background: url("images/header-image.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about {
  padding: 40px 0;
}
.about .title {
  font-size: 55px;
  font-weight: 700;
}
.about .content .title{
  margin-left: 150px;
}

.about p {
  padding-top: 20px;
  text-align: justify;
}


.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}



@media (max-width: 868px) {
  body.disabledScroll {
    overflow: hidden;
  }
  .icon {
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn {
    display: none;
  }
  .icon.cancel-btn.show {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #222;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list {
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active {
    clip-path: circle(75%);
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
  }
}







:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container {
    
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
    margin-top: 3rem;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}


footer {
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  display: flex;
  justify-content: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  color: aqua;
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}



#scrollpath{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(225, 225, 225, 0.05);

}

#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff,#00ffe7);
  animation: animate 5s linear infinite;
}


@keyframes animate{

  0%,100%{
      filter: hue-rotate(0deg);
  }
  50%{
      filter: hue-rotate(360deg);
  }
}


#progressbar:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100;
  height: 100;
  background: linear-gradient(to top, #008aff,#00ffe7);
  filter: blur(10px);

}
#progressbar:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100;
  height: 100;
  background: -webkit-repeating-radial-gradient(to top, #008aff,#00ffe7);
  filter: blur(10px);

}
